footer {
	display: flex;
}

footer div {
	align-items: center;
	align-content: space-around;
	justify-content: space-around;
	justify-items: center;
}

@media screen and (min-width: 800px) {
	footer {
		display: block;
	}
}
