@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Space+Mono&display=swap");

html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: #3131c8;
}
article {
	max-width: fit-content;
}

h2 {
	position: static;
	max-width: 30rem;

	font-size: 20px;
	padding-right: 80%;
}
aside {
	display: none;
	position: absolute;
	top: 40vh;
	right: 2em;
	width: 150px;
	position: fixed;
}
span {
	color: grey;
	font-style: italic;
}

div img {
	padding-top: 5px;
	max-height: 350px;
	max-width: 70%;
}

h2:after {
	content: "";
	display: block;
	height: 2px;
	width: 100%;
	background: grey;
	z-index: -10;
}

.box {
	display: flex;
	flex-direction: column;
	margin: 5px;
	align-content: flex-start;
	align-items: center;
}
p {
	max-width: 60%;
}

ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	margin: 5px;
	align-content: flex-start;
	align-items: center;
	padding: 0;
}
li img {
	float: left;
	max-width: 50px;
}

.footer_logo {
	display: none;
}
.footer_text {
	display: flex;
	flex-direction: row;
	float: left;
	max-height: fit-content;
}
.footer_text a {
	color: black;
	margin-left: 10px;
}

@media screen and (min-width: 400px) {
	.box {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: center;
		width: 95%;
		height: 30vh;
		gap: 40px;
		overflow: auto;

		margin: 0 auto;
	}
	.footer_logo {
		display: flex;
		position: absolute;
		padding-top: 15px;
	}
	.footer_text {
		float: right;
		position: absolute;
		padding: min(30vh, 1em) 5em;
	}

	p {
		max-width: 300px;
	}
}

@media screen and (min-width: 40rem) {
	h2 {
		font-size: xx-large;
		padding-bottom: 10px;
	}
	p {
		max-width: 400px;
	}
	.ver {
		content: "";
		display: flex;
		background: black;
		width: 2px;
		height: 60%;
		margin: 0 auto;
	}
	.box {
		height: 500px;
		width: ;
	}

	.article_container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-content: center;
		margin: 0 auto;
		width: 80%;
	}
	article {
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		margin: 0 auto;
	}
	.footer_text {
		position: relative;
		top: 2em;
		right: 2em;
	}
}

@media screen and (min-width: 70rem) {
	aside {
		display: flex;
	}
}
